[submodule "MethodsLibraryPleEvaluation"]
	path = MethodsLibraryPleEvaluation
	url = https://github.com/schuemie/MethodsLibraryPleEvaluation.git
[submodule "TicagrelorVsClopidogrel"]
	path = TicagrelorVsClopidogrel
	url = https://github.com/chandryou/TicagrelorVsClopidogrel.git
[submodule "FebuxostatVsAllopurinolCVD"]
	path = FebuxostatVsAllopurinolCVD
	url = https://github.com/chandryou/FebuxostatVsAllopurinolCVD.git
[submodule "EndometriosisCharacterization"]
	path = EndometriosisCharacterization
	url = https://github.com/molliemckillop/Endometriosis-Phenotype-Characterization.git
[submodule "DataQuality"]
	path = DataQuality
	url = https://github.com/vojtechhuser/DataQuality.git
[submodule "ThemisConcepts"]
	path = ThemisConcepts
	url = https://github.com/vojtechhuser/ThemisConcepts
[submodule "MetforminVsSulfonylurea"]
	path = MetforminVsSulfonylurea
	url = https://github.com/ABMI/MetforminVsSulfonylurea.git
